---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";
import local3 from "@/images/iglesia/local3.webp";
import costa from "@/images/iglesia/costa.webp";
import jovenes from "@/images/iglesia/jovenes.webp";
import jovenes2 from "@/images/iglesia/jovenes2.webp";
import jovenes3 from "@/images/iglesia/jovenes3.webp";
import ga from "@/images/iglesia/ganandoalmas.webp";
import bannerImage from "@/images/iglesia/iglesiacompleta.webp";
import { slide } from "astro:transitions";
---

<Layout
  title="Nosotros - Iglesia Bautista Fundamental Monte Calvario"
  description="Nosotros somos una Iglesia Bautista"
  canonical="https://ibfmontecalvario.vercel.app/nosotros"
>
  <main>
    <!-- Sección 1: Fundación con degradado de mc2 a mc1 -->
    <section class="mx-auto pt-12 pb-4 text-center items-center">
      <div class="container mx-auto">
        <h1 class="font-bold text-6xl mb-12 text-white">Fundación</h1>

        <!-- Bloque 1: Fundación - Texto centrado -->
        <div class="mb-16">
          <p class="text-lg mx-auto max-w-3xl text-white">
            <strong>Nuestra historia comenzó el 4 de mayo de 2014</strong>,
            cuando el misionero Artemio Galeote fundó la Iglesia Bautista
            Fundamental Monte Calvario. Desde aquel día, hemos experimentado un
            crecimiento constante, <strong>ganando almas para Cristo</strong> y viendo
            cómo nuestra comunidad se expande. Nuestro primer culto fue una bendición,
            con más de 21 invitados que se unieron a nosotros. <strong
              >¡Desde entonces, nuestra misión de llevar el Evangelio a cada
              rincón del mundo no se ha detenido!</strong
            >
          </p>
        </div>

        <!-- Galería de imágenes bajo la Fundación -->
        <div class="m-4 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          <Image
            src={local3}
            class="rounded-lg shadow-lg scale-up-center"
            alt="Primeros servicios"
            loading="eager"
            transition:animate={slide({ duration: "1s" })}
          />
          <Image
            src={costa}
            class="rounded-lg shadow-lg"
            alt="Primer local"
            loading="eager"
            transition:animate={slide({ duration: "0.8s" })}
          />
          <Image
            src={jovenes}
            class="rounded-lg shadow-lg"
            alt="Primeros eventos"
            loading="eager"
            transition:animate={slide({ duration: "0.6s" })}
          />
          <Image
            src={jovenes2}
            class="rounded-lg shadow-lg"
            alt="Reuniones iniciales"
            loading="eager"
            transition:animate={slide({ duration: "0.4s" })}
          />
        </div>

        <!-- Foto tipo banner debajo de la galería -->
        <div class="grid w-full mb-4 mx-auto items-center">
          <Image
            src={bannerImage}
            class="w-full rounded-lg shadow-lg"
            alt="Banner de la Iglesia"
            loading="lazy"
          />
        </div>
      </div>
    </section>

    <!-- Sección 2: Historia con fondo blanco -->
    <section>
      <div
        class="relative flex flex-col md:flex-row items-center container mx-auto"
      >
        <Image
          src={ga}
          class="w-full md:w-1/2 rounded-lg shadow-lg"
          alt="Pastor Artemio Galeote"
          loading="lazy"
        />
        <div class="md:w-1/2 p-8 text-left">
          <h1 class="mb-4 text-mc3 font-black text-5xl">Ganadores de Almas</h1>
          <p class="text-lg text-white">
            ¡Cada sábado, nuestros 6 equipos de ganadores de almas salen a las
            calles para llevar el evangelio! Con rutas estratégicas en cada
            zona, recogemos a nuestros hermanos los días domingos y juntos nos
            dirigimos a la iglesia para aprender más de la palabra de Dios.
          </p>
        </div>
      </div>
    </section>

    <!-- Sección 3: Jóvenes con degradado de mc2 a mc1 -->
    <section class="text-center">
      <div
        class="relative flex flex-col md:flex-row-reverse items-center container mx-auto"
      >
        <Image
          src={jovenes3}
          class="w-full md:w-1/2 rounded-lg shadow-lg"
          alt="Mudanza a Chorrillos"
        />
        <div class="md:w-1/2 p-8 text-left text-mc3">
          <h2 class="text-5xl font-black mb-4">Jóvenes</h2>
          <p class="text-lg text-white">
            ¡Nuestro grupo de jóvenes ha crecido exponencialmente! Con reuniones
            que superan los 70 asistentes, hemos sido testigos de cómo una
            pequeña semilla se ha convertido en un frondoso árbol. Lo más
            emocionante es ver cómo estos jóvenes comparten nuestra pasión por
            alcanzar almas y se han convertido en el motor que impulsa nuestra
            iglesia hacia el futuro.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  img[loading] {
    background-color: #f0f0f0;
  }

  .grid img {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 768px) {
    .card-text {
      background: transparent;
    }
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
</style>
