---
import RichResults from "@/components/RichResults.astro";
interface Preload {
  as: string;
  href: string;
  type: string;
  rel?: "preload" | "prefetch";
  crossorigin?: string;
}
interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const {
  title,
  description,
  preload,
  canonical,
  image = "https://ibfmontecalvario.vercel.app/_astro/logopuro.BYL1Af_7_Z13tWo9.webp",
} = Astro.props as Props;

const determineCanonicalURL = () => {
  if (Astro.url.host.includes("localhost")) return "http://localhost:4321";
  return canonical || Astro.url.pathname;
};

const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preconnect" href="https://ibfmontecalvario.vercel.app/" />
<link
  rel="preload"
  href={"https://cdn.lavelada.dev/fonts/font-atomic.woff2"}
  as="font"
  type="font/woff2"
  crossorigin
/>

{
  preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
    <link {rel} {href} {as} {type} {crossorigin} />
  ))
}

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta
  name="keywords"
  content="bautista, iglesia, fundamental, independiente, monte, calvario"
/>

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta
  property="og:site_name"
  content="Iglesia bautista fundamental Monte Calvario"
/>
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/png" href="/iglesia.png" />

<link rel="icon" type="image/png" href="/iglesia.png" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<link rel="manifest" href="/manifest.webmanifest" />
<RichResults />
