---
import { ViewTransitions } from "astro:transitions";
import NoiseBackground from "@/components/NoiseBackground.astro";
import LightsBackground from "@/components/LightsBackground.astro";
import SEO from "@/components/SEO.astro";
interface Preload {
  as: string;
  href: string;
  type: string;
  rel?: "preload" | "prefetch";
  crossorigin?: string;
}
interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}
const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
    <NoiseBackground />
    <LightsBackground />
    <div
      class="mx-auto min-h-screen max-w-6xl px-2 selection:bg-primary selection:text-secondary lg:px-10"
      id="main-content"
    >
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #ddd;
    --color-secondary: #333;
    --color-accent: #b4cd02;
    --color-accent-rgb: 213, 255, 0;

    --background-color: #141800;
    --background-twitch: var(--color-twitch-ice);

    --color-twitch: #9146ff;
    --color-twitch-ice: #f0f0ff;
  }
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: var(--background-color);
    scrollbar-gutter: stable;
  }
  main {
    position: relative;
  }

  body {
    &:has(dialog[open]) {
      overflow: hidden;
    }
  }
  /* Hiding class, making content visible only to screen readers but not visually */
  /* "sr" meaning "screen-reader" */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  @supports selector(::-webkit-scrollbar) {
    @media (hover: hover) {
      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.primary");
        border: 2px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: #666;
      }

      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: theme("colors.primary") transparent;
      scrollbar-width: thin;
    }
  }

  .anchor-main-content {
    pointer-events: none;
  }

  .anchor-main-content:focus {
    pointer-events: all;
  }
</style>
